@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#202020];
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .no-focus {
    @apply focus:!ring-0 focus:!ring-transparent focus:!ring-offset-0 focus-visible:!ring-0 focus-visible:!ring-transparent focus-visible:!ring-offset-0;
  }

  .hover-full {
    @apply relative cursor-pointer transition-all after:absolute after:inset-0 after:z-20 hover:after:bg-black/40;
  }

  .pagination-box {
    @apply flex h-6 min-w-6 cursor-pointer select-none items-center justify-center rounded-sm border border-gray-400 px-1.5 text-xs transition-all hover:border-primary hover:bg-primary;
  }

  .pagination-box.active {
    @apply border-primary bg-primary;
  }

  .pagination-box.disabled {
    @apply cursor-not-allowed opacity-45 hover:border-inherit hover:bg-inherit;
  }
}

.clip-border {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 92% 100%, 0 100%);
}

.dot-separator:not(:first-child)::before {
  content: "•";
  margin: 0 0.5rem;
}

.angled-title {
  position: relative;
}

.angled-title::before,
.angled-title::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  aspect-ratio: 1;

  background-image: url("/static/angle-corner.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .angled-title::before,
  .angled-title::after {
    width: 2rem;
  }
}

.angled-title::before {
  translate: -50% -15%;
}

.angled-title::after {
  rotate: 180deg;
}

.child-scroll::-webkit-scrollbar {
  width: 0.45rem;
}

.child-scroll::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 25px;
}

.child-scroll::-webkit-scrollbar-track {
  background-color: #2d3748;
}
